fastapi==0.115.12
numpy==1.24.4
onnxruntime==1.22.0
opencv_python==4.8.0.76
opencv_python_headless==4.11.0.86
pandas==1.5.3
pytz==2022.7
PyYAML==6.0.2
segmentation_models_pytorch==0.5.0
torch==1.12.1
uvicorn==0.34.2
python-multipart